@font-face {
    font-family: FuturaLight;
    src: url(../font/FuturaStd-Light.otf);
}

@font-face {
    font-family: FuturaBold;
    src: url(../font/FuturaStd-Bold.otf);
}

@font-face {
    font-family: CaslonPro;
    src: url(../font/Adobe-Caslon-Pro.ttf);
}

@font-face {
    font-family: CaslonProItalic;
    src: url(../font/Adobe-Caslon-Pro-Italic.ttf);
}

body{
	font-family: 'FuturaLight' ,'Raleway', sans-serif;
	line-height: 13pt;
	letter-spacing: 1.5px;
}

.line-no-space{
	letter-spacing: normal;
}

.crimison-font{
	font-family: 'CaslonPro', 'Crimson Text', serif;
	font-size: 12px !important;
}

.futura-bold{
	font-family: 'FuturaBold','Futura';
}

.wrapper {
   display: flex;
}

.jumbotron{
	background-color: transparent;
}

.sidebar {
	margin-top: 50px; 
}

.left{
	padding-left: 40%;
}

.contain{
	width: 100%
}

.go-right{
	margin-left: 10%;
}

.social-icon a, .separator{
	color:black;
	padding-left: 13%;
}

.social-icon a:hover{
	color:DimGray;
	padding-left: 15%;
}

.link-work{
	color:black;
	padding-left: 8%;
	padding-right: 8%;
	font-size: 12px;
}

.link-work:hover{
	color:DimGray;
}

.language-link button, .language-link button:focus{
	font-weight: bold;
	color: silver;
	background-color: transparent !important;
	border: none;
	margin-left: 5%;
}

.language-link button:hover{
	background-color: transparent !important;
	color: black;
}

.well{
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.rotate{
	font-size: 12px;
	margin-right: 70%;
    margin-top: 100%;

    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
}

.upup{
	margin-top: -5%;
}

.mailto a{
	color: DimGray;
}

.mailto a:hover{
	background-color: transparent !important;
	color: black;
}

.logo-img{
	max-width: 100%;
	padding-top:19%;
	padding-bottom: 5%;
}

.logo-img img {
    max-width: 80%;
    max-height: auto;
    /*padding-left: 10%;*/
}

.bold{
	font-weight: bold;
}

.first{
	margin-top: 34%;
	margin-left: 42%;
    margin-right: 15%;
}

.first p{
	font-size: 12px !important;
	font-weight: lighter;
}

.second{
	margin-left: 42%;
	margin-top:10%;
	margin-right: 15%;
}

.second p{
	font-size: 12px !important;
	font-weight: lighter;
}

.elegant{
	font-family: 'CaslonProItalic','Crimson Text', serif;
	font-style: italic;
	font-size: 11px !important;
}

.process, .about-us{
	margin-bottom: 35px !important;
}

.about-us-p2, .process-p, .eclectisism-p, .presence-p{
	margin-bottom: 25px !important;
}

.section{
	height: 100vh;
}

.small-spacing{
	padding-bottom: 7%;
}

.small-spacing p{
	margin-bottom: 0px;
	margin-top: 0px;
}

.padding-top-second{
	padding-top: 10%;
	margin-bottom: 0px !important;
}

.map{
    margin-left:  32%;
    margin-right: -5%;
}

.first-work{
	padding-top: 8%;
	padding-bottom: 10%;
	font-size: 12px;
}

.center-work{
	left: -7%;
	z-index: -1;
	padding-top: 10%;
}

.ico{
	max-width: 17px;
	max-height: 10px;
}

.move-left{
	padding-left: 4%;
}

.move-menu-left{
	margin-left: -5%;
}

.services{
	margin-bottom: 10% !important;
}

/*xs screens*/

@media (min-width:769px) {
    .footer {
        display: none;
    }
}


@media (max-width:768px) {
	.move-left{
		padding-left: 0%;
	}
    .social-icons, .contact-info{
    	display: none;
    }

    .social-icon a {
	    padding-left: 2%;
	    padding-right: 2%;
	}

    .logo-img img {
    	max-width: 135%;
	}

	.mail-footer{
		padding-top: 10px;
	}

	.footer .address, .footer .phone{
		font-size:11px;
	}

	.fa-long-arrow-right{
		display: none;
	}

	.footer{
		padding-bottom: 30px;
	}

	.sidebar-right .well{
		padding-left: 0px;
	}
}