@font-face {
    font-family: FuturaLight;
    src: url(../font/FuturaStd-Light.otf);
}

@font-face {
    font-family: FuturaBold;
    src: url(../font/FuturaStd-Bold.otf);
}

@font-face {
    font-family: CaslonPro;
    src: url(../font/Adobe-Caslon-Pro.ttf);
}

@font-face {
    font-family: CaslonProItalic;
    src: url(../font/Adobe-Caslon-Pro-Italic.ttf);
}

body{
	font-family: 'FuturaLight' ,'Raleway', sans-serif;
}

.crimison-font{
	font-family: 'CaslonPro', 'Crimson Text', serif;
}

.futura-bold{
	font-family: 'FuturaBold','Futura'
}

.wrapper {
   display: flex;
}

.jumbotron{
	background-color: transparent;
}

.sidebar {
	margin-top: 50px; 
}

.left{
	padding-left: 25%;
}

.contain{
	width: 100%
}

.go-right{
	margin-left: 10%;
}

.social-icon a{
	color:black;
	padding-left: 15%;
}

.social-icon a:hover{
	color:DimGray;
	padding-left: 15%;
}

.link-work{
	color:black;
	padding-left: 8%;
	padding-right: 8%;
}

.link-work:hover{
	color:DimGray;
}

.language-link button, .language-link button:focus{
	font-weight: bold;
	color: silver;
	background-color: transparent !important;
	border: none
}

.language-link button:hover{
	background-color: transparent !important;
	color: black;
}

.well{
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.rotate{
	margin-right: 70%;
    margin-top: 100%;

    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
}

.mailto a{
	color: DimGray;
}

.mailto a:hover{
	background-color: transparent !important;
	color: black;
}

.logo-img{
	max-width: 100%;
	padding-top:15%;
}

.logo-img img {
    max-width: 65%;
    max-height: auto;
    /*padding-left: 10%;*/
}

.bold{
	font-weight: bold;
}

.first{
	margin-top: 35%;
	margin-left: 50%;
}

.first p{
	font-size: 16px;
	font-weight: lighter;
}

.second{
	margin-left: 50%;
	margin-top:10%;
}

.second p{
	font-size: 16px;
	font-weight: lighter;
}

.elegant{
	font-family: 'CaslonProItalic','Crimson Text', serif;
	font-style: italic;
	font-size: 14px !important;
}

.section{
	height: 100vh;
}

.small-spacing p{
	margin-bottom: 0px;
	margin-top: 0px;
}

.padding-top-second{
	padding-top: 10%;
	margin-bottom: 0px !important;
}

.map{
    margin-left:  40%;
}

/*xs screens*/

@media (min-width:769px) {
    .footer {
        display: none;
    }
}


@media (max-width:768px) {
    .social-icons, .contact-info{
    	display: none;
    }

    .social-icon a {
	    padding-left: 2%;
	    padding-right: 2%;
	}

    .logo-img img {
    	max-width: 135%;
	}

	.mail-footer{
		padding-top: 10px;
	}

	.footer .address, .footer .phone{
		font-size:11px;
	}

	.fa-long-arrow-right{
		display: none;
	}

	.footer{
		padding-bottom: 30px;
	}

	.sidebar-right .well{
		padding-left: 0px;
	}
}