@font-face {
    font-family: FuturaLight;
    src: url(../font/FuturaStd-Light.otf);
}

@font-face {
    font-family: FuturaBold;
    src: url(../font/FuturaStd-Bold.otf);
}

@font-face {
    font-family: CaslonPro;
    src: url(../font/Adobe-Caslon-Pro.ttf);
}

@font-face {
    font-family: CaslonProItalic;
    src: url(../font/Adobe-Caslon-Pro-Italic.ttf);
}

@font-face{
	font-family: SF-Heavy;
	src: url(../font/SF-Pro-Text-Heavy.otf);
}

@font-face{
	font-family: SF-Light;
	src: url(../font/SF-Pro-Text-Light.otf);
}

@font-face{
	font-family: Gravity-Bold;
	src: url(../font/Gravity-Bold.otf);
}

@font-face{
	font-family: Gravity-Book;
	src: url(../font/Gravity-Book.otf);
}


body{
	font-family: 'Gravity-Book','SF-Light','FuturaLight' ,'Raleway', sans-serif;
	line-height: 12pt;
	letter-spacing: 1px;
}

.line-no-space{
	letter-spacing: -1px;
}

.crimison-font{
	font-family: 'CaslonPro', 'Crimson Text', serif;
	font-size: 12px !important;
}

.futura-bold{
	font-family: 'Gravity-Bold','SF-Heavy','FuturaBold','Futura';
	font-weight: 900;
}

.wrapper {
   display: flex;
}

.jumbotron{
	background-color: transparent;
}

.sidebar {
	margin-top: 50px; 
}

.left{
	padding-left: 40%;
}

.contain{
	width: 100%
}

.go-right{
	margin-left: 10%;
}

.social-icon a, .separator{
	color:black;
	padding-left: 13%;
}

.social-icon a:hover{
	color:DimGray;
	padding-left: 15%;
}

.link-work{
	color:black;
	padding-left: 8%;
	padding-right: 8%;
	font-size: 12px;
}

.link-work:hover{
	color:DimGray;
}

.language-link button, .language-link button:focus{
	font-weight: bold;
	color: silver;
	background-color: transparent !important;
	border: none;
	margin-left: 5%;
	outline: 0;
}

.language-link button:hover{
	background-color: transparent !important;
	color: black;
}

.well{
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.rotate{
	font-size: 11px;
	margin-right: 70%;
    margin-top: 100%;

    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
}

.upup{
	margin-top: -5%;
}

.mailto a{
	color: DimGray;
}

.mailto a:hover{
	background-color: transparent !important;
	color: black;
}

.logo-img{
	max-width: 100%;
	padding-top:19%;
	padding-bottom: 5%;
}

.logo-img img {
    max-width: 90%;
    max-height: auto;
    /*padding-left: 10%;*/
}

.bold{
	font-weight: bold;
}

.first{
	margin-top: 34%;
	margin-left: 42%;
    margin-right: 15%;
}

.first p, .second p{
	font-size: 10.7px;
	font-weight: lighter;
}

.second{
	margin-left: 42%;
	margin-top:10%;
	margin-right: 15%;
}

.elegant{
	font-family: 'CaslonProItalic','Crimson Text', serif;
	font-style: italic;
	font-size: 12px !important;
}

.process, .about-us{
	margin-bottom: 35px !important;
}

.about-us-p2, .process-p, .eclectisism-p, .presence-p{
	margin-bottom: 25px !important;
}

.section{
	height: 100vh;
}

.small-spacing{
	padding-bottom: 7%;
}

.small-spacing p{
	margin-bottom: 0px;
	margin-top: 0px;
}

.padding-top-second{
	padding-top: 10%;
	margin-bottom: 0px !important;
}

.map{
    margin-left:  32%;
    margin-right: -5%;
}

.first-work{
	padding-top: 8%;
	padding-bottom: 10%;
	font-size: 10.7px;
	z-index: -9999;
}

.center-work{
	left: -7%;
	/*z-index: -1;*/
	padding-top: 10%;
}

.move-left{
	z-index: 2;
}

.center-work img{
	max-width: 90%;
}

.ico{
	max-width: 17px;
	max-height: 10px;
}

.move-left{
	padding-left: 4%;
}

.move-menu-left{
	margin-left: -5%;
}

.services{
	margin-bottom: 10% !important;
}

.work-text{
	margin-left: 47%;
    margin-right: 10%;
    text-align: justify;
    text-justify: inter-word;
}

.nehu-c, .nicte-c, .wens-c, .a2-c, .chromikae-c, .nostro-c, .broom-c{
	margin-bottom: 12%;
	padding-top: 5%;
	text-align:left;
}

#date {
	position: fixed;
    top: 196px;
    right: 193px;
    height: 90px;
    width: 62px;
    font-size: 12px;
}

.we-are{
	font-size: 12px !important;
}

.contact-info{
	padding-top: 17px;
}

/*xs screens*/

@media (min-width:769px) {

    .only-mobile{
    	display: none;
    }

}


/*Mobile site*/

@media (max-width:768px) {
	.sidebar{
		margin-left: 1.5%;
		margin-top: -40px;
	}

	.contain{
		padding-top: 110px;
	}

	.language-link{
		font-size: 9px;
	}

	.navbar-default {
	    background-color: rgba(255,255,255, 1);
	    border-color: white;
	    border-bottom-color: #e7e7e7;
	    padding-bottom: 5%;
	    clear: both;
	    max-height: 110px;
	}

	.logo-img{
		margin-left: 9%;
		margin-top: 45px;
		padding-top: 0%;
		margin-bottom: 10px;
	}

	.logo-img img{
		width: 60%;
		max-width: 100px;

	}

	.ico{
		margin-left: 5%;
	}

	.fa-envelope{
		font: normal normal normal 12px/1 FontAwesome;
	}

	.social-fb{
		padding-left: 1px;
	}

	.mobile-menu{
		margin-top: 28px;
		padding-left: 17.2%;
	}

	.main-div{
		margin-left:8.33333333%;
		padding-left: 11%;
		padding-right: 12px;
		line-height: 1.3;
	}

	.crimison-font{
		font-size: 9px !important;
	}

	.first, .second {
	    margin-top: 0%;
	    margin-left: 0%;
	    margin-right: 0%;
	    margin-bottom: 15%;
	}

	.first p, .second p{
		font-size: 7.7px !important;
	}

	.elegant{
		font-size: 8px !important;
	}

	.first-work{
		font-size: 7.7px;
	}

	.hide-mobile{
		display: none;
	}

	.move-left{
		padding-left: 0%;
	}
    .social-icons{
    	margin-left: 25%;
    	margin-top: 200%;
    }

    .social-icon{
    	padding-bottom: 5px;
    }

	.fa-long-arrow-right{
		display: none;
	}

	.sidebar-right .well{
		padding-left: 0px;
	}

	.line-breaks-sidebar{
		display: none !important;
	}

	.link-work{
		font-size: 10px;
	}

	.center-work {
		left: 0%;
		padding-top: 20%;
	}

	/*Index sections*/

	.about-us, .process{
		margin-bottom: 15px !important;
	}


	.work-text{
		margin-left: 5%;
	    margin-right: 5%;

	}

	.move-left {
	    margin-left: -4%;
	}

	.go-back{
		margin-top: 25%;
	}

	.center-detail{
		margin-right: 4%;
	}

	.left-detail{
		padding-left: 30%;
	}

}

/* iPhone 5 Retina regardless of IOS version */
@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {
	.social-icons{
		margin-top: -15px;
	}
}

/* iPad Styles */
@media (min-width: 768px) and (max-width: 768px) {
	.main-div {
	    padding-left:0%;
    	margin-left: 13.333333%;
	}

	.ipad-nav{
		margin-left: 5%;
		margin-right: -5%;
	}

	.sidebar {
    	margin-left: 8%;
	}

	.social-icons{
		margin-top: 380px;
	}

	.first{
		margin-top: 17%;
	}

	.jumbotron{
		padding-right: 0px !important;
	}

	.mobile-menu{
		left: 4.333333%;
	}

}